# Node modules
node_modules/

# Build artifacts
dist/
build/
.next/
out/

# Logs
logs/
*.log

# System files
.DS_Store
Thumbs.db

# Environment variables
.env
.env.local
.env.*.local

# IDE specific files
.vscode/
.idea/

# Miscellaneous
coverage/